body {
  /* margin-bottom: 50px; */
  font-size: 16px;
  font-family: sans-serif, "微軟正黑體";
  background-color: #eee;
}
.info {
  font-size: 30px;
  font-weight: bold;
  fill: #553;
}
#bestfit {
  stroke: #ccc;
  stroke-width: 10px;
}
.font-weight-bold {
  font-weight: bold;
}
#describe>*{
  margin-top: 30px;
}
#content {
  text-align: left;
  text-indent: 30px;
}
