body {
  margin-bottom: 500px;
}
rect.background {
  fill: white;
}
.axis {
  shape-rendering: crispEdges;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
}
.label {
  text-anchor: middle;
  font-size: 22px;
  font-family: 微軟正黑體;
  font-weight: bold;
  fill: #5151A2;
}
